@{
    ViewBag.Title = RielAp.Translation.Translation.ForgetPasswordTitle;
}

<fieldset>
    <legend>
        @ViewBag.Title
    </legend>
        @if (!Html.ViewData.ModelState.IsValid)
    {
    <div class="alert alert-error">
        @foreach (var modelError in Html.ViewData.ModelState.SelectMany(keyValuePair => keyValuePair.Value.Errors))
        {
            <div>@modelError.ErrorMessage</div>
        }
    </div>
    }
@using (Html.BeginForm("ForgetPassword", "Account", null, FormMethod.Post, new { @class = "form-horizontal", style = "width: 500px;  margin: auto;" }))
{
    
        <div class="control-group">
            <label class="control-label" for="UserName">@RielAp.Translation.Translation.LoginPageUserPhone</label>
            <div class="controls">
                <input placeholder="@RielAp.Translation.Translation.LoginPageUserPhone", class="bfh-phone", data-format="+38 (ddd) ddd-dddd" name="userphone" type="text"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">@RielAp.Translation.Translation.ForgetPasswordSendButton</button>
            </div>
        </div>
}
</fieldset>

