@using RielAp.Translation;
@model RielAp.Domain.Models.HouseAnnouncement

@{
    ViewBag.Title = Translation.EditHouseAnnouncementTitle;
    Layout = "~/Views/Shared/_EditAnnouncementLayout.cshtml";
}

                    <h4 class="row-fluid">
                        @Translation.LandsDetailsPageSquareLabel
                    </h4>
                    <div class="controls controls-row">
                        @Html.TextBoxFor(model => model.TotalSquare.Value, new { @class = "span9" })
                        @Html.DropDownListFor(model => model.TotalSquare.Unit, EnumsToSelectedListItems.GetSquareUnitsList(), new { @class = "span3" })
                    </div>

                    <h4 class="row-fluid">
                        @Translation.HousesDetailsPageSquareLabel
                    </h4>
                    <div class="controls controls-row">
                        @Html.TextBoxFor(model => model.LivingSquare.Value, new { @class = "span9" })
                        @Html.DropDownListFor(model => model.LivingSquare.Unit, EnumsToSelectedListItems.GetSquareUnitsList(), new { @class = "span3" })
                    </div>

                    <h4 class="row-fluid">
                        @Translation.ApartmentDetailsPageRoomsCountLabel
                    </h4>
                    <div class="controls controls-row">
                        @Html.TextBoxFor(model => model.RoomsNumber, new { @class = "span12" })
                    </div>

                    <h4 class="row-fluid">
                        @Translation.ApartmentDetailsPageWallMaterialsLabel
                    </h4>
                    <div class="controls controls-row">
                        @Html.DropDownListFor(model => model.WallMaterial, EnumsToSelectedListItems.GetWallMaterialsList(), new { @class = "span12" })
                    </div>

                    <h4 class="row-fluid">
                        @Translation.ApartmentDetailsPageFloorMaterialsLabel
                    </h4>
                    <div class="controls controls-row">
                        @Html.DropDownListFor(model => model.FloorMaterial, EnumsToSelectedListItems.GetFloorMaterialsList(), new { @class = "span12" })
                    </div>
                    

